body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #49505f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.posterCard{
  width: 200px;
  height: 420px;
  float: left;

}

.imageButton{
  width: 200;
}

.ranking-selector{
  float: left;
  width: 11em;
}

.ranking-button{
  height: 60px;
}

.modal-pic{
  float: left;
}

.overview{
  text-align: left;
}

.modal-title{
  text-align: left;
}

.query-input{
  display: inline;
  width: 25em;
  height: 50px;
  text-align: center;
  

}

.query-button{
  width: 4em;
  height: 50px;
}