body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #49505f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.posterCard{
  width: 200px;
  height: 420px;
  float: left;

}

.image-card{
  width:198px;
  height:300px;
}

.imageButton{
  width: 200;
}

.ranking-selector{
  float: left;
  width: 11em;
}

.ranking-button{
  height: 60px;
}

.modal-pic{
  float: left;
}

.overview{
  text-align: left;
}

.overflow-on{
  display: block;
  text-overflow: ellipsis !important;
  height: 30px;
}

.modal-title{
  text-align: left;
}

.query-input{
  display: inline;
  width: 25em;
  height: 50px;
  text-align: center;
}

.query-button{
  width: 4em;
  height: 50px;
}

.list-pic{
  height: 150px;
  float:left;
  
}

.list-item{
  display:block;
  overflow: auto;
  text-align: left;
}

.list-container{
  width: 500px;
}

.list-review{
  font-size: 1.1em;
}



@media (max-width:1170px){
  .posterCard{
    margin-inline: 14px;
   
  }
}

@media (max-width:850px){
  .posterCard{
    margin-inline: 10px;
   
  }
}

@media (max-width:763px){
  .posterCard{
    margin-inline: 40px;
   
  }
}


@media (max-width:536px){
  .posterCard{
    margin-inline: 33px;
   
  }
}

@media (max-width:525px){
  .posterCard{
    margin-inline: 130px;
   
  }
}

@media (max-width:418px){
  .posterCard{
    margin-inline: 80px;
   
  }
  .query-input{
    width: 20em;
  }
}

@media (max-width:337px){
  .query-input{
    width: 15em;
  }
}
